.clear {
  clear: both;
}

.clear-l {
  clear: left;
}

.clear-r {
  clear: right;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.h-list,
.v-list {
  margin: 0 0 1.5em 0;
  padding: 0;
  list-style: none;
}

.h-list li {
  float: left;
  margin-right: 1em;
}

.v-list li {
  margin-bottom: 1em;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.img-left,
.img-l,
.alignleft {
  display: block;
  float: none;
  margin: 0 auto 1.5em auto;
}
@media screen and (min-width: 768px) {
  .img-left,
  .img-l,
  .alignleft {
    float: left;
    display: inline-block;
    margin: 0 20px 1.5em 0;
  }
}

.img-right,
.img-r,
.alignright {
  display: block;
  float: none;
  margin: 0 auto 1.5em auto;
}
@media screen and (min-width: 768px) {
  .img-right,
  .img-r,
  .alignright {
    float: right;
    display: inline-block;
    margin: 0 0 1.5em 20px;
  }
}

.img-replace,
.ir {
  display: inline-block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.hidden {
  display: none;
  visibility: hidden;
}

.vh,
.v-hidden,
.screen-reader-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.vh.focusable:active,
.vh.focusable:focus
.v-hidden.focusable:active,
.v-hidden.focusable:focus {
  clip: auto;
  height: auto;
  overflow: visible;
  position: static;
  width: auto;
  margin: 0;
}

.invisible {
  visibility: hidden;
}

/* ##MEDIA BLOCK */
/* 
	<div class="m-block">
		<img class="m-img" />

		<div class="m-content">
			<p>This is the content of the Media Block</p>
		</div>
	</div>
*/
.m-block,
.m-block .m-content {
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}

.m-block .m-img {
  float: left;
  margin-right: 20px;
}
.m-block .m-img img {
  display: block;
}
.m-block .m-img-alt {
  float: right;
  margin-left: 20px;
}

/* ##BUTTONS */
/* Provides extra visual weight and identifies the primary action in a set of buttons.

    <button class="btn primary">Primary</button>
*/
.btn {
  color: #FFF;
  display: inline-block;
  text-align: center;
  padding: 0.3076923076923077em 15px;
  text-decoration: none;
  font-size: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.4) 0 1px 2px;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.4) 0 1px 2px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.25))), #0088cc;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)), #0088cc;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)), #0088cc;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)), #0088cc;
  background: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)), #0088cc;
}
.no-cssgradients .btn {
  background: url(../images/site/button-shader.png) left center repeat-x, #0088cc;
}
.no-multiplebgs .btn {
  background-color: #0088cc;
}
.btn:hover, .btn:focus {
  color: rgba(255, 255, 255, 0.8);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(0, 0, 0, 0.3))), #0088cc;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.3)), #0088cc;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.3)), #0088cc;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.3)), #0088cc;
  background: linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.3)), #0088cc;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
}
.btn:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.25)), color-stop(100%, rgba(0, 0, 0, 0))), #0088cc;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)), #0088cc;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)), #0088cc;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)), #0088cc;
  background: linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)), #0088cc;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.no-cssgradients .btn:active {
  background: url(../images/site/button-shader.png) left center repeat-x, #0077b3;
}
.no-multiplebgs .btn:active {
  background-color: #0077b3;
}

/* ### Button Sizes */
/* Various sizes for buttons */
/* 
	<a href="#" class="btn btn-huge">Button Huge</a>
*/
.btn-huge {
  padding-right: 40px;
  padding-left: 40px;
  font-size: 24px;
  line-height: 1.5;
}

/* 
	<a href="#" class="btn btn-large">Button Large</a>
*/
.btn-large {
  font-size: 123.0769230769231%;
  line-height: 1.75;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* 
	<a href="#" class="btn btn-small">Button Small</a>
*/
.btn-small {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 84.61538461538462%;
}

/* ### Button States */
/* 
	<a href="#" class="btn btn-disabled">Button Disabled</a>
*/
.btn[disabled],
.btn-disabled {
  background-image: none !important;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: 0.65;
  cursor: default !important;
}
.btn[disabled]:active,
.btn-disabled:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* ### Button Groups */
/* 
	<div class="btn-group">
	  <button class="btn">1</button>
	  <button class="btn">2</button>
	  <button class="btn">3</button>
	</div>
*/
.btn-group {
  display: inline-block;
  *zoom: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.btn-group:after {
  content: "";
  display: table;
  clear: both;
}

.btn-group .btn {
  float: left;
  margin-left: -1px;
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
}
.btn-group .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-group .btn:first-child {
  margin-left: 0;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.btn-group .btn:last-child {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

/* ##DROPDOWNS */
/* Create dropdown menus with caret arrow

    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
		<li><a tabindex="-1" href="#">Action</a></li>
		<li><a tabindex="-1" href="#">Another action</a></li>
		<li><a tabindex="-1" href="#">Something else here</a></li>
		<li class="divider"></li>
		<li><a tabindex="-1" href="#">Separated link</a></li>
	</ul>
*/
.dropdown .caret,
.dropdown-toggle .caret {
  display: inline-block;
  color: #fff !important;
  width: 0;
  height: 0;
  text-indent: -99999px;
  *text-indent: 0;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  background: 0;
  margin-left: 4px;
  margin-top: 0.75em;
  content: "\2193";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}

.dropdown:hover .caret,
.dropdown:focus .caret
.dropdown-toggle:hover .caret,
.dropdown-toggle:focus .caret {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* ##ALERTS */
/* Standard alert styles with variations 

    <div class="alert">
        <strong>Warning!</strong> Best check yo self, you're not looking too good.
    </div>
*/
.alert {
  padding: 0.5em 35px 0.5em 14px;
  margin-bottom: 1.667em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
}

.alert-heading {
  color: inherit;
}

.alert :last-child {
  margin-bottom: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 1.667em;
}

/* ###Alert Success */
/* 
    <div class="alert alert-success">
        <strong>Success</strong> Looking good!
    </div>
*/
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

/* ###Alert Danger/Error */
/* 
    <div class="alert alert-danger">
        <strong>Danger!</strong> Best check yo self, you're not looking too good.
    </div>
*/
.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

/* ###Alert Info */
/* 
    <div class="alert alert-info">
        <strong>Notice</strong> Everything isn't what it seems...
    </div>
*/
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}

/* ###Alert Blocks */
/* 
    <div class="alert alert-block">
        <h4>Warning!</h4>
        Best check yo self, you're not...
    </div>
*/
.alert-block {
  padding-top: 0.875em;
  padding-bottom: 0.875em;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 0.3125em;
}

/* ##PAGINATION */
/* Standard controls for navigation between "paged" content.

	<div class="pagination">
		<ul>
			<li><a href="#">Prev</a></li>
			<li class="active">
			  <a href="#">1</a>
			</li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">Next</a></li>
		</ul>
	</div>
*/
.pagination {
  margin-bottom: 1.5em;
}

.pagination ul,
.pagination ol,
.pagination .pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.pagination li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 0.3125em;
  margin-bottom: 0.625em;
}

.pagination a {
  display: block;
  padding: 7px 12px 8px 12px;
  text-decoration: none;
  border: 1px solid #ccc;
  line-height: 1;
}
.pagination a:hover, .pagination a:focus {
  background-color: #f9f9f9;
}

.pagination .disabled a {
  color: #ccc;
}

.pagination .current a {
  background-color: #f1f1f1;
  border-color: #a8a8a8;
  color: #666;
}

.pagination .range a,
.pagination .range a:hover,
.pagination .range a:focus {
  background-color: transparent;
  border-color: #ccc;
  color: #666;
}

.pagination .prev a,
.pagination .next a {
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
}

/* ###Pagination Centered */
/* 
	<div class="pagination pagination-centered">
		<ul>
			<li><a href="#">Prev</a></li>
			<li class="active">
			  <a href="#">1</a>
			</li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">Next</a></li>
		</ul>
	</div>
*/
.pagination-centered {
  text-align: center;
}

/* ###Pagination Right */
/* 
	<div class="pagination pagination-right">
		<ul>
			<li><a href="#">Prev</a></li>
			<li class="active">
			  <a href="#">1</a>
			</li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">Next</a></li>
		</ul>
	</div>
*/
.pagination-right {
  text-align: right;
}

.pager {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pager li {
  display: inline;
}
.pager a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 7px 12px 8px 12px;
  text-decoration: none;
  border: 1px solid #ccc;
  line-height: 1;
  float: left;
}
.pager .next a {
  float: right;
}

/* ##BREADCRUMBS */
/* Standard Breadcrumb navigation for assisting users with establishing their position within the website hierarchy

	<ul class="breadcrumbs">
	    <li>
	        <a href="#">Home</a>
	        <span>\</span>
	    </li>
	    <li>
	        <a href="#">Crumb</a>
	        <span>\</span>
	    </li>
	    <li>
	        <a href="#">Crumb</a>
	        <span>\</span>
	    </li>
	    <li class="current">
	        <a href="#">Current Crumb</a>
	    </li>
	</ul>
*/
.breadcrumbs {
  margin: 1.25em 0 0 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background: #fbfbfb;
  /* Old browsers */
  border: 1px solid #ddd;
  font-size: 0.875em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 white;
  -moz-box-shadow: inset 0 1px 0 white;
  box-shadow: inset 0 1px 0 white;
}
.breadcrumbs li {
  float: left;
  margin-bottom: 0;
}
.breadcrumbs a {
  position: relative;
  display: block;
  padding: 0.7em 1em 0.7em 2em;
  float: left;
  text-decoration: none;
  background: #fbfbfb;
  /* Old browsers */
  background: -moz-linear-gradient(left, #fbfbfb 50%, #f1f1f1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fbfbfb), color-stop(100%, #f1f1f1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #fbfbfb 50%, #f1f1f1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #fbfbfb 50%, #f1f1f1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #fbfbfb 50%, #f1f1f1 100%);
  /* IE10+ */
  background: linear-gradient(left, #fbfbfb 50%, #f1f1f1 100%);
  /* W3C */
}
.breadcrumbs a:before, .breadcrumbs a:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid;
  right: -1em;
}
.breadcrumbs a:before {
  border-left-color: #ddd;
  right: -1.1em;
  z-index: 1;
}
.breadcrumbs a:after {
  z-index: 2;
  border-left-color: #F1F1F1;
}
.breadcrumbs .current a {
  color: #999;
  background: transparent;
}
.breadcrumbs .current a:before, .breadcrumbs .current a:after {
  display: none;
}

.breadcrumbs li:first-child a,
.breadcrumbs .first a {
  padding-left: 1em;
}
