/* ============================================================ */
/* ============================================================ */
/* ============================================================ */
/* ============================================================ */
/* ============================================================ */
/* ============================================================ */
/* normalize.css 2012-01-31T16:06 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 6, ../sass/_normalize.scss */
html {
  overflow-y: scroll;
  /* Always force a scrollbar in non-IE */ }

/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 23, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 33, ../sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
/* line 43, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 52, ../sass/_normalize.scss */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 68, ../sass/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 82, ../sass/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 90, ../sass/_normalize.scss */
body {
  margin: 0; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 103, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 113, ../sass/_normalize.scss */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 126, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 135, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold; }

/* line 139, ../sass/_normalize.scss */
blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 147, ../sass/_normalize.scss */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 155, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 168, ../sass/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 178, ../sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 191, ../sass/_normalize.scss */
q {
  quotes: none; }

/* 2 */
/* line 198, ../sass/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none; }

/* line 203, ../sass/_normalize.scss */
small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 213, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 220, ../sass/_normalize.scss */
sup {
  top: -0.5em; }

/* line 224, ../sass/_normalize.scss */
sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
/* line 234, ../sass/_normalize.scss */
ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px; }

/* line 239, ../sass/_normalize.scss */
dd {
  margin: 0 0 0 40px; }

/* line 244, ../sass/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 260, ../sass/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
  vertical-align: bottom; }

/*
 * Corrects overflow displayed oddly in IE9 
 */
/* line 270, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 283, ../sass/_normalize.scss */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 296, ../sass/_normalize.scss */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding
 */
/* line 304, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3 
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* line 316, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 332, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 344, ../sass/_normalize.scss */
button,
input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 358, ../sass/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements
 */
/* line 369, ../sass/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
/* line 381, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 393, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
/* line 405, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 415, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 425, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/* 
 * Remove most spacing between table cells
 */
/* line 439, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ============================================================ */
/* ============================================================ */
/* line 19, ../sass/_helpers.scss */
.clear {
  clear: both; }

/* line 23, ../sass/_helpers.scss */
.clear-l {
  clear: left; }

/* line 27, ../sass/_helpers.scss */
.clear-r {
  clear: right; }

/* line 36, ../sass/_helpers.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

/* line 41, ../sass/_helpers.scss */
.clearfix:after {
  clear: both; }

/* line 44, ../sass/_helpers.scss */
.clearfix {
  zoom: 1; }

/* line 55, ../sass/_helpers.scss */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none; }

/* line 63, ../sass/_helpers.scss */
.h-list,
.v-list {
  margin: 0 0 1.5em 0;
  padding: 0;
  list-style: none; }

/* line 72, ../sass/_helpers.scss */
.h-list li {
  float: left;
  margin-right: 1em; }

/* line 81, ../sass/_helpers.scss */
.v-list li {
  margin-bottom: 1em; }

/* line 96, ../sass/_helpers.scss */
.fr {
  float: right; }

/* line 100, ../sass/_helpers.scss */
.fl {
  float: left; }

/* line 106, ../sass/_helpers.scss */
.text-right {
  text-align: right; }

/* line 110, ../sass/_helpers.scss */
.text-left {
  text-align: left; }

/* line 114, ../sass/_helpers.scss */
.text-center {
  text-align: center; }

/* line 128, ../sass/_helpers.scss */
.img-left,
.img-l,
.alignleft {
  display: block;
  float: none;
  margin: 0 auto 1.5em auto; }
  @media screen and (min-width: 768px) {
    /* line 128, ../sass/_helpers.scss */
    .img-left,
    .img-l,
    .alignleft {
      float: left;
      display: inline-block;
      margin: 0 20px 1.5em 0; } }

/* line 141, ../sass/_helpers.scss */
.img-right,
.img-r,
.alignright {
  display: block;
  float: none;
  margin: 0 auto 1.5em auto; }
  @media screen and (min-width: 768px) {
    /* line 141, ../sass/_helpers.scss */
    .img-right,
    .img-r,
    .alignright {
      float: right;
      display: inline-block;
      margin: 0 0 1.5em 20px; } }

/* line 156, ../sass/_helpers.scss */
.img-replace,
.ir {
  display: inline-block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

/* line 179, ../sass/_helpers.scss */
.m-block,
.m-block .m-content {
  overflow: hidden;
  *overflow: visible;
  zoom: 1; }

/* line 190, ../sass/_helpers.scss */
.m-block .m-img {
  float: left;
  margin-right: 20px; }
/* line 196, ../sass/_helpers.scss */
.m-block .m-img-alt {
  float: right;
  margin-left: 20px; }

/* line 203, ../sass/_helpers.scss */
.m-block .m-img img {
  display: block; }

/* line 217, ../sass/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden; }

/* line 229, ../sass/_helpers.scss */
.vh,
.v-hidden,
.screen-reader-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* line 238, ../sass/_helpers.scss */
.vh.focusable:active,
.vh.focusable:focus
.v-hidden.focusable:active,
.v-hidden.focusable:focus {
  clip: auto;
  height: auto;
  overflow: visible;
  position: static;
  width: auto;
  margin: 0; }

/* line 251, ../sass/_helpers.scss */
.invisible {
  visibility: hidden; }

/* ####################################### */
/* ################ BASE ################# */
/* ####################################### */
/* line 5, ../sass/_typo.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.667em;
  color: #333333; }

/* line 12, ../sass/_typo.scss */
p {
  margin: 0 0 0.834em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.667em; }

/* ####################################### */
/* ############## HEADINGS ############### */
/* ####################################### */
/* line 24, ../sass/_typo.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0; }

/* line 29, ../sass/_typo.scss */
h1, .h1 {
  color: #222222;
  font-size: 2.5em;
  line-height: 1;
  margin-bottom: .5em;
  text-rendering: optimizelegibility; }

/* line 37, ../sass/_typo.scss */
h2, .h2 {
  color: #222222;
  font-size: 2em;
  line-height: 1;
  margin-bottom: .75em; }

/* line 44, ../sass/_typo.scss */
h3, .h3 {
  color: #333333;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: .5em;
  padding-top: .5em; }

/* line 52, ../sass/_typo.scss */
h4, .h4 {
  color: #333333;
  font-size: 1.2em;
  line-height: 1;
  margin-bottom: .5em;
  padding-top: 1em; }

/* line 60, ../sass/_typo.scss */
h5, .h5 {
  font-size: 1em;
  line-height: 1;
  margin-bottom: .8em;
  padding-top: .7em; }

/* line 67, ../sass/_typo.scss */
h6, .h6 {
  font-size: 1em;
  line-height: 1; }

/* ####################################### */
/* ################ LINKS ################ */
/* ####################################### */
/* line 82, ../sass/_typo.scss */
a {
  color: #0088cc; }

/* line 87, ../sass/_typo.scss */
a:hover,
a:focus {
  color: #005580; }

/* line 91, ../sass/_typo.scss */
a:focus {
  outline: thin dotted; }

/* line 95, ../sass/_typo.scss */
a:hover, a:active {
  outline: none; }

/* ####################################### */
/* ################ LISTS ################ */
/* ####################################### */
/* line 105, ../sass/_typo.scss */
ul, ol {
  padding: 0;
  margin: 0 0 0.834em 25px; }

/* line 112, ../sass/_typo.scss */
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

/* line 115, ../sass/_typo.scss */
ul {
  list-style: disc; }

/* line 118, ../sass/_typo.scss */
ol {
  list-style: decimal; }

/* line 121, ../sass/_typo.scss */
li {
  line-height: 1.667em; }

/* ============================================================ */
/* ============================================================ */
/* line 24, ../sass/_grid.scss */
.line {
  margin: 0 30px;
  /* trigger new block formatting context in all browsers */
  overflow: hidden;
  *overflow: visible;
  *zoom: 1; }

/* main */
/* alias */
/* line 47, ../sass/_grid.scss */
.onecol,
.twocol,
.threecol, .size1of4,
.fourcol, .size1of3,
.fivecol,
.sixcol, .size1of2,
.sevencol,
.eightcol, .size2of3,
.ninecol, .size3of4,
.tencol,
.elevencol {
  margin-left: 3.8%;
  /* equal to 20px at 1024px */
  float: left;
  min-height: 1px;
  position: relative; }

/* line 62, ../sass/_grid.scss */
.size1of12,
.onecol {
  width: 4.85%; }

/* line 62, ../sass/_grid.scss */
.size1of6,
.twocol {
  width: 13.5%; }

/* line 62, ../sass/_grid.scss */
.size1of4,
.threecol {
  width: 22.15%; }

/* line 62, ../sass/_grid.scss */
.size1of3,
.fourcol {
  width: 30.8%; }

/* line 76, ../sass/_grid.scss */
.fivecol {
  width: 39.45%; }

/* line 62, ../sass/_grid.scss */
.size1of2,
.sixcol {
  width: 48.1%; }

/* line 76, ../sass/_grid.scss */
.sevencol {
  width: 56.75%; }

/* line 67, ../sass/_grid.scss */
.size2of3,
.eightcol {
  width: 65.4%; }

/* line 72, ../sass/_grid.scss */
.size3of4,
.ninecol {
  width: 74.05%; }

/* line 76, ../sass/_grid.scss */
.tencol {
  width: 82.7%; }

/* line 76, ../sass/_grid.scss */
.elevencol {
  width: 91.35%; }

/* line 62, ../sass/_grid.scss */
.size1of1,
.twelvecol {
  width: 100%; }

/* line 93, ../sass/_grid.scss */
.push-size1of12,
.push-onecol {
  left: 8.65%; }

/* line 93, ../sass/_grid.scss */
.push-size1of6,
.push-twocol {
  left: 17.3%; }

/* line 93, ../sass/_grid.scss */
.push-size1of4,
.push-threecol {
  left: 25.95%; }

/* line 93, ../sass/_grid.scss */
.push-size1of3,
.push-fourcol {
  left: 34.6%; }

/* line 107, ../sass/_grid.scss */
.push-fivecol {
  left: 43.25%; }

/* line 93, ../sass/_grid.scss */
.push-size1of2,
.push-sixcol {
  left: 51.9%; }

/* line 107, ../sass/_grid.scss */
.push-sevencol {
  left: 60.55%; }

/* line 98, ../sass/_grid.scss */
.push-size2of3,
.push-eightcol {
  left: 69.2%; }

/* line 103, ../sass/_grid.scss */
.push-size3of4,
.push-ninecol {
  left: 77.85%; }

/* line 107, ../sass/_grid.scss */
.push-tencol {
  left: 86.5%; }

/* line 107, ../sass/_grid.scss */
.push-elevencol {
  left: 95.15%; }

/* line 93, ../sass/_grid.scss */
.push-size1of1,
.push-twelvecol {
  left: 103.8%; }

/* line 124, ../sass/_grid.scss */
.pull-size1of12,
.pull-onecol {
  right: 8.65%; }

/* line 124, ../sass/_grid.scss */
.pull-size1of6,
.pull-twocol {
  right: 17.3%; }

/* line 124, ../sass/_grid.scss */
.pull-size1of4,
.pull-threecol {
  right: 25.95%; }

/* line 124, ../sass/_grid.scss */
.pull-size1of3,
.pull-fourcol {
  right: 34.6%; }

/* line 138, ../sass/_grid.scss */
.pull-fivecol {
  right: 43.25%; }

/* line 124, ../sass/_grid.scss */
.pull-size1of2,
.pull-sixcol {
  right: 51.9%; }

/* line 138, ../sass/_grid.scss */
.pull-sevencol {
  right: 60.55%; }

/* line 129, ../sass/_grid.scss */
.pull-size2of3,
.pull-eightcol {
  right: 69.2%; }

/* line 134, ../sass/_grid.scss */
.pull-size3of4,
.pull-ninecol {
  right: 77.85%; }

/* line 138, ../sass/_grid.scss */
.pull-tencol {
  right: 86.5%; }

/* line 138, ../sass/_grid.scss */
.pull-elevencol {
  right: 95.15%; }

/* line 124, ../sass/_grid.scss */
.pull-size1of1,
.pull-twelvecol {
  right: 103.8%; }

/* line 160, ../sass/_grid.scss */
[class*="col"]:first-child:not(:only-child),
[class*="size"]:first-child:not(:only-child),
.lastcol {
  margin-left: 0; }

/* line 169, ../sass/_grid.scss */
.full-col {
  width: auto;
  float: none; }

/* line 175, ../sass/_grid.scss */
.centered {
  margin: 0 auto;
  float: none; }

/*  Bones CSS Framework
 *	v 0.1 - 2012
 *  Copyright(c) 2012 David Smith | www.aheadcreative.com
 *
 *  This work is licenced under the Creative Commons Attribution-No Derivative Works 3.0 Unported License. 
 *	http://creativecommons.org/licenses/by-nd/3.0/ 
 *
 *--------------------------------------------------------------------------*/
/* DOCUMENT INFORMATION
	- Document: 			Structure
	- Description:			Standard structures for common layouts and page division
	- Version:  			0.1
	- Author:   			David Smith
	- Acknowledgements		Twitter Bootstrap 2
						
*/
/* ####################################### */
/* ################ LOGO ################# */
/* ####################################### */
/* line 24, ../sass/_structure.scss */
.site-logo {
  display: block;
  border: 0;
  padding: 20px 0;
  margin: 0;
  vertical-align: bottom; }
  /* line 30, ../sass/_structure.scss */
  .site-logo a {
    text-indent: -999em;
    text-align: left;
    direction: ltr;
    display: block;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url('/images/logo.gif?1339662808');
    width: 200px;
    height: 60px; }
    /* line 43, ../sass/_structure.scss */
    .site-logo a:hover, .site-logo a:focus {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
      opacity: 0.8;
      -webkit-transition: opacity 0.5s ease-out;
      -moz-transition: opacity 0.5s ease-out;
      -o-transition: opacity 0.5s ease-out;
      transition: opacity 0.5s ease-out; }

/* ####################################### */
/* ############# CONTAINERS ############## */
/* ####################################### */
/* line 59, ../sass/_structure.scss */
.container,
.container-inner {
  *zoom: 1; }
  /* line 38, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after,
  .container-inner:after {
    content: "";
    display: table;
    clear: both; }

/* line 63, ../sass/_structure.scss */
.container-inner {
  width: 960px;
  margin: 0 auto; }

/* add "container-fluid" class to get fluid/flexible layout */
/* line 70, ../sass/_structure.scss */
.page-fluid .container-inner,
.container-fluid .container-inner {
  width: 90%; }

/* line 76, ../sass/_structure.scss */
div[role="main"] .container-inner,
.content .container-inner {
  padding-top: 30px;
  padding-bottom: 30px; }

/* ####################################### */
/* ############ COLUMN CONFIG ############ */
/* ####################################### */
/* line 86, ../sass/_structure.scss */
.col {
  padding: 20px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*  Bones CSS Framework
 *	v 0.1 - 2012
 *  Copyright(c) 2012 David Smith | www.aheadcreative.com
 *
 *  This work is licenced under the Creative Commons Attribution-No Derivative Works 3.0 Unported License. 
 *	http://creativecommons.org/licenses/by-nd/3.0/ 
 *
 *--------------------------------------------------------------------------*/
/* DOCUMENT INFORMATION
	- Document: 			Navigation
	- Description:			Default navigation styles
	- Version:  			0.1
	- Author:   			David Smith
	- Acknowledgements		Twitter Bootstrap 2
						
*/
/* line 21, ../sass/_nav.scss */
.nav, .navbar, .navbar-fixed,
.nav ul,
.navbar ul,
.navbar-fixed ul,
.nav ol,
.navbar ol,
.navbar-fixed ol {
  margin: 0;
  padding: 0;
  list-style: none; }

/* line 27, ../sass/_nav.scss */
.nav li, .navbar li, .navbar-fixed li {
  position: relative; }

/* line 31, ../sass/_nav.scss */
.nav li a, .navbar li a, .navbar-fixed li a {
  display: block;
  width: auto;
  text-decoration: none;
  padding: 0.76923076923076923076923076923077em 20px; }

/* ####################################### */
/* ############## =NAVBAR ################ */
/* ####################################### */
/* line 42, ../sass/_nav.scss */
.navbar, .navbar-fixed {
  overflow: visible;
  background-color: #999999;
  *zoom: 1; }
  /* line 38, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .navbar:after, .navbar-fixed:after {
    content: "";
    display: table;
    clear: both; }
  /* line 48, ../sass/_nav.scss */
  .navbar li, .navbar-fixed li {
    float: left; }
  /* line 52, ../sass/_nav.scss */
  .navbar a, .navbar-fixed a {
    text-align: center;
    color: #333333; }
    /* line 56, ../sass/_nav.scss */
    .navbar a:hover, .navbar-fixed a:hover {
      color: white; }

/* line 63, ../sass/_nav.scss */
.navbar li:hover .sub-menu, .navbar-fixed li:hover .sub-menu {
  left: 0; }

/* FIXED NAVBAR
------------------------------------------------*/
/* line 70, ../sass/_nav.scss */
.navbar-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

/* ####################################### */
/* ########### =NAV DROPDOWN ############# */
/* ####################################### */
/* line 84, ../sass/_nav.scss */
.sub-menu {
  position: absolute;
  top: auto;
  left: -999em;
  z-index: 1000;
  text-align: left;
  direction: ltr;
  background-color: #999999; }
  /* line 93, ../sass/_nav.scss */
  .sub-menu li {
    vertical-align: bottom;
    /* This fixes the IE5 Win gap (no harm done to modern browsers) */
    white-space: nowrap;
    width: 100%;
    /* inherit the width of the parent <ul> */
    clear: both; }
    /* line 100, ../sass/_nav.scss */
    .sub-menu li a {
      white-space: nowrap;
      /* forces drop down to stretch to accommodate length of text (and not wrap) */
      padding: 0.4615384615384615em 20px;
      text-align: left; }

/* line 2, ../sass/site/_page.scss */
body {
  background-color: #f4f4f4; }

/* line 7, ../sass/site/_page.scss */
.ancillary-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #555555;
  padding: 4px 0; }
