/* ============================================================ */

// STRUCTURE

// Description:			Standard structures for common layouts and page division.
//						Common layout elements (eg: logo...etc)

/* ============================================================ */


// ==========================================================================
// SITE LOGO
// ==========================================================================

.site-logo {
	display: block;
	border: 0;
	padding: 20px 0;
	margin: 0;
	vertical-align: bottom;
	a {
		text-indent: -999em; 
		text-align:left;
		direction:ltr;
		display: block;
		position: relative;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-image: image-url("logo.gif");
		width: image-width("logo.gif");
		height: image-height("logo.gif");

		&:hover,
		&:focus {
			@include opacity(0.8);	

			-webkit-transition: opacity 0.5s ease-out;
			-moz-transition: opacity 0.5s ease-out;
			-o-transition: opacity 0.5s ease-out;
			transition: opacity 0.5s ease-out;
		}
	}
}

// ==========================================================================
// PAGE LAYOUT STRUCTURES
// ==========================================================================

// Page "section" containers
// ==========================================================================

.container,
.container-inner {
	@include pie-clearfix;
}

.container-inner {
	width: 960px;
	margin: 0 auto;	
}

/* add "container-fluid" class to get fluid/flexible layout */
.page-fluid .container-inner,
.container-fluid .container-inner {
	//@extend .container-inner;
	width: 90%;
}

// Page Column config
// ==========================================================================

.col {
	padding: $colPadding;
	@include box-sizing(border-box);
}





