/* ============================================================ */

// TYPOGRAPHY

// Description:			Site-wide styles for block level (h1, p) and text-level (em, strong) type...etc

/* ============================================================ */


// ==========================================================================
// GLOBAL
// ==========================================================================

body {
	font-family: $baseFontFamily;
	font-size: $baseFontSize;
	line-height: $baseLineHeight;
	color: $grayDark;
}



// ==========================================================================
// HEADERS
// ==========================================================================

//
// Based on the ancient Typographic scale
// http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography-part-4
// 

h1, h2, h3, h4, h5, h6 { 
	font-weight: bold; 
	margin: 0;
}

h1,.h1 {
	font-size: rsize(36px);
	color: $grayDarker;
	line-height:1;
	margin-bottom:.5em;
  	text-rendering: optimizelegibility; 
}

h2,.h2 {
	font-size: rsize(24px);
	color: $grayDarker;
	line-height:1;
	margin-bottom:.75em;
}

h3,.h3 {
	font-size: rsize(21px);
	color:$grayDark;
	line-height:1;
	margin-bottom:.5em;
	padding-top:.5em;
}

h4,.h4 {
	font-size: rsize(16px);
	color:$grayDark;
	line-height:1;
	margin-bottom:.5em;
	padding-top:1em;
}

h5,.h5 {
	font-size:1em;
	line-height:1;
	margin-bottom:.8em;
	padding-top:.7em;
}

h6,.h6 {
	font-size:1em;
	line-height:1;
}

// ==========================================================================
// PARAGRAPHS
// ==========================================================================

p {
	margin: 0 0 $baseLineHeight;
	font-family: $baseFontFamily;
	font-size: $baseFontSize;
	line-height: $baseLineHeight;
}



// ==========================================================================
// LINKS
// ==========================================================================

a {
	color: $linkColor;
}

a:hover,
a:focus {
	color: $linkColorHover;	
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active { 
	outline: none; 
}


// ==========================================================================
// LISTS
// ==========================================================================

// Typical lists
ul, ol {
  	padding: 0;
  	margin: 0 0 $baseLineHeight / 2 25px;
}

// Nested lists
ul ul,
ul ol,
ol ol,
ol ul {
  	margin-bottom: 0;
}

ul {
  	list-style: disc;
}

ol {
  	list-style: decimal;
}

li {
  	line-height: $baseLineHeight;
}
