/* ============================================================ */

// VARIABLES

// This file allows you to set variables which will be reused
// throughout your project to save you time and energy. 

/* ============================================================ */


// ==========================================================================
// COLORS
// ==========================================================================

// Brand colors
// ==========================================================================

//$primaryBrandColor:			YOURHEXCODE;
//$secondaryBrandColor:			YOURHEXCODE;
//$tertiaryBrandColor:			YOURHEXCODE;


// Misc colors
// ==========================================================================

// Links
$linkColor:             		#08c;
$linkColorHover:        		darken($linkColor, 15%);

// Grays
$black:                 		#000;
$grayDarker:            		#222;
$grayDark:              		#333;
$gray:                  		#555;
$grayLight:             		#999;
$grayLighter:           		#eee;
$white:                 		#fff;

// Accent colors
$blue:                  		#049cdb;
$blueDark:              		#0064cd;
$green:                 		#46a546;
$red:                   		#9d261d;
$yellow:                		#ffc40d;
$orange:                		#f89406;
$pink:                  		#c3325f;
$purple:                		#7a43b6;



// ==========================================================================
// TYPOGRAPHY
// ==========================================================================

$baseFontSize:          		16px;
$baseFontFamily:        		"Helvetica Neue", Helvetica, Arial, sans-serif;
$baseLineHeight:        		1.667em;




// ==========================================================================
// GRID
// ==========================================================================

// Column Configuration
$cols: 							12;
$gutter_width: 					3.8%;
$col_width: 					4.85%;

// We loop thorugh this string to produce our written grid classes
$cols_as_string: 				one two three four five six seven eight nine ten eleven twelve;



// ==========================================================================
// ELEMENTS & COMPONENTS
// ==========================================================================

// STRUCTURE COLUMNS
// ==========================================================================

// Padding for main page columns. This is not for the grid-system
$colPaddingTB:					30px;
$colPaddingLR:					30px;

// LOGO
// ==========================================================================

$logo_path: 					"/img/logo.gif";


// MASTER Z-INDEX
// ==========================================================================

// Used for a bird's eye view of components dependent on the z-axis
$zindexDropdown:        		1000;
$zindexPopover:         		1010;
$zindexTooltip:         		1020;
$zindexFixedNavbar:     		1030;
$zindexModalBackdrop:   		1040;
$zindexModal:           		1050;


// FORMS
// ==========================================================================

// Input placeholder text color
$placeholderText:       		$grayLight;

// Input border radius
$inputBorderRadius:				3px;

$inputBackground:				$white;
$inputBorder:					$grayLight;

$formActionsBackground:			#f5f5f5;


// NAVBAR
// ==========================================================================

$navbarBackground: 				$grayLight;
$navbarBackgroundHighlight: 	$grayDark;

$navbarText: 					$white;
$navbarLinkColor: 				$grayDark;
$navbarLinkColorHover: 			$white;


// BUTTONS
// ==========================================================================

$button_background				: $linkColor;
$button_background_shader		: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.25)); // standard bg shader 
$button_background_shader_h		: linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0.30)); // :hover bg shader 
$button_background_shader_i		: linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0)); // inverted bg shader 
$button_background_shader-f		: url(../images/site/button-shader.png) left center repeat-x; // fallback bg shader 

