/* ============================================================ */

// STRUCTURE

// Description:			Standard structures for common layouts and page division.
//						Common layout elements (eg: logo...etc)

/* ============================================================ */




// ==========================================================================
// PAGE LAYOUT STRUCTURES
// ==========================================================================

// Page "section" containers
// ==========================================================================

.container,
.container-inner {
	@include pie-clearfix;
}

.container-inner {
	width: $containerWidth;
	margin: 0 auto;	
}

/* add "container-fluid" class to get fluid/flexible layout */
.page-statuc .container-inner,
.container-static .container-inner {
	//@extend .container-inner;
	width: 960px;
}

// Page Column config
// ==========================================================================

.col {
	padding: $colPaddingTB $colPaddingLR;
	@include box-sizing(border-box);
}

@media only screen and (max-width: 30em) {
	.col {
		padding: ($colPaddingTB*0.5) ($colPaddingLR*0.5);
	}
}





