/* ============================================================ */

// MIXINS

// Standard mixins and functions to help make life easier

/* ============================================================ */


// ==========================================================================
// GRID MIXINS
// ==========================================================================

// GRID WIDTH - returns a grid unit's width
@function grid-width($n) {
	@return $n * $col_width + ($n - 1) * $gutter_width;
}

// Grid Col - produces CSS selector based on input provided
@function grid-col($column,$nColumn,$sPrepend) {
    @if ($cols % $nColumn == 0) {
        @return "."#{$sPrepend}"size1of"#{$cols/$nColumn}",.#{$sPrepend}"#{$column}"columns";
    } @else if ($nColumn == 8) {
        @return ".#{$sPrepend}size2of3,.#{$sPrepend}"#{$column}"columns";
    } @else if ($nColumn == 9) {
        @return ".#{$sPrepend}size3of4,.#{$sPrepend}"#{$column}"columns";
    } @else {
        @return ".#{$sPrepend}"#{$column}"columns";   
    } 
}


// ==========================================================================
// HELPERS
// ==========================================================================

// Clear fix
@mixin clearfix {
    zoom: 1; 
    
    &:before { 
        content: ""; 
        display: table;     
    }

    &:after {
        content: ""; 
        display: table; 
        clear: both; 
    }
}


// Font Size
@mixin fsize($pxval, $baseline : $baseFontSize) {
    font-size: ($pxval / $baseline) * 100%
}

// Relative Size
@function rsize($pxval, $baseline : $baseFontSize) {
    @return ($pxval/$baseline) + em;
}



// Mixin for selection markup
@mixin selection($background, $color, $element:false) {
    @if($element) {
        &::-moz-selection{ background:$background; color:$color; text-shadow:none; }
        &::selection { background:$background; color:$color; text-shadow:none; }
    } @else {
        ::-moz-selection{ background:$background; color:$color; text-shadow:none; }
        ::selection { background:$background; color:$color; text-shadow:none; }
    }
}

// Mixin for reset list
@mixin list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

// Mixin for placeholder styling
@mixin placeHolder($color) {
    &::-webkit-input-placeholder { color:$color; }
    &:-moz-placeholder { color:$color; }
}

// Webkit-style focus
@mixin tab-focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

// Center-align a block level element
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



// ==========================================================================
// TEXTURE
// ==========================================================================


// ARROWS
// ==========================================================================

// 	
//  $direction: top, left, right, bottom, top-left, top-right, bottom-left, bottom-right
// 	$color: hex, rgb or rbga
// 	$size: px or em
//  
// 	@example
// 	.element{
//  	 @include arrow(top, #000, 50px);   
// 	}
//

@mixin arrow($direction, $color, $size){
    display: block;
    height: 0;
    width: 0;
    
    @if $direction == 'top' {
        border-left: $size solid transparent;
    	border-right: $size solid transparent;
    	border-bottom: $size solid $color;
    } @else if $direction == 'right' {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
    	border-left: $size solid $color;
    } @else if $direction == 'bottom' {
        border-top: $size solid $color;
        border-right: $size solid transparent;
        border-left: $size solid transparent;
    } @else if $direction == 'left' {
        border-top: $size solid transparent;
    	border-right: $size solid $color;
    	border-bottom: $size solid transparent;
    } @else if $direction == 'top-left' {
        border-top: $size solid $color; 
        border-right: $size solid transparent;	
    } @else if $direction == 'top-right' {
        border-top: $size solid $color; 
        border-left: $size solid transparent;
    } @else if $direction == 'bottom-left' {
        border-bottom: $size solid $color; 
        border-right: $size solid transparent;	
    } @else if $direction == 'bottom-right' {
        border-bottom: $size solid $color; 
        border-left: $size solid transparent;
    }
}